body, html
{
    height: 135%;
}

.Fondo
{
    background-color: black;
    height: 100%;
    background-size: cover;
    position: relative;
}

.Centro
{
    text-align: center;
    justify-content: center;
    color: white;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Primera_foto
{
    background-image: url(/Users/juestrel/discovery_piscine/Images/ex2_02/programming-skills.png);
    height: 25%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Primera_foto p
{
   text-align: center;
   position: relative;
   margin: 0;
   justify-content: center;
   align-items: flex-end;
   color: white;
   background-color: blue;
}

.Segunda_foto
{
    background-image: url(/Users/juestrel/discovery_piscine/Images/ex2_02/Other_pic.avif);
    height: 25%;
    width: 100%;
    bottom: 0px;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.Segunda_foto p
{
    text-align: center;
    margin: 0;
    color: white;
    background-color: blue;
    position: relative;
    justify-content: center;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    
}