.Primera_foto
{
    background-image: url(/Users/juestrel/discovery_piscine/Images/ex2_02/programming-skills.png);
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}